div#container {
   width: 994px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
#Layer1
{
   position: absolute;
   text-align: center;
   left: 0px;
   top: 210px;
   width: 992px;
   height: 653px;
   z-index: 1;
}
#Layer1_Container
{
   width: 992px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}

#wb_CssMenu2 {
   border: 0px #00A0E4 solid;
   background-color: transparent;
}

#wb_CssMenu2 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 190px;
}

#wb_CssMenu2 li {
   float: left;
   margin: 0;
   padding: 0px 0px 4px 0px;
   width: 190px;
}

#wb_CssMenu2 a {
   display: block;
   color: #00A0E4;
   border: 1px #00A0E4 solid;
   background-color: #FFFFFF;
   background-image: none;
   font-family: Tahoma;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 178px;
   height: 26px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 26px;
   text-align: center;
}

#wb_CssMenu2 li:hover a, #wb_CssMenu2 a:hover {
   color: #FFFFFF;
   background-color: #00A0E4;
   background-image: none;
   border: 1px #00A0E4 solid;
}

#wb_CssMenu2 .firstmain a {
   margin-top: 0px;
}

#wb_CssMenu2 li.lastmain {
   padding-bottom: 0px;
}

#wb_CssMenu2 br {
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}

#wb_Text2 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: justify;
}

#wb_Text2 div {
   text-align: justify;
}

#wb_Text2 {
   position: absolute;
   left: 45px;
   top: 33px;
   width: 900px;
   height: 24px;
   text-align: justify;
   z-index: 6;
}

#wb_Image8 {
   position: absolute;
   left: 148px;
   top: 287px;
   width: 100px;
   height: 142px;
   z-index: 1;
}

#wb_Image9 {
   position: absolute;
   left: 147px;
   top: 108px;
   width: 100px;
   height: 142px;
   z-index: 2;
}

#wb_Image5 {
   position: absolute;
   left: 282px;
   top: 108px;
   width: 100px;
   height: 142px;
   z-index: 3;
}

#wb_Image6 {
   position: absolute;
   left: 419px;
   top: 108px;
   width: 100px;
   height: 142px;
   z-index: 4;
}

#wb_Image7 {
   position: absolute;
   left: 555px;
   top: 108px;
   width: 100px;
   height: 142px;
   z-index: 5;
}

#Image8 {
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

#Image9 {
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

#Image5 {
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

#Image6 {
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

#Image7 {
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image_4 {
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 190px;
   height: 297px;
}
#prev {
   width: 190px;
   height: 297px;
}
.text_font {
   font-family: Tahoma, sans-serif;
   font-size: 15px;
}

.text_font2 {
   font-family: Tahoma, sans-serif;
   font-size: 12px;
}

.text_bold {
   font-family: Tahoma, sans-serif;
   font-size: 14px;
   font-weight: 600;
}

.arch_menu {
   position: relative;
   float: left;
   left: auto;
   width: 170px;
   height: 100%;
   margin-left: 10px;
   margin-right: 20px;
   box-shadow: 1px 1px 5px #37494d;
   background-color: #f2f2f2;
   background-image: none;
   text-align: center;

}

.arch_menu_one_year {
   margin-top: 10px;
   margin-bottom: 15px;
}

.arch_menu_year_text {
   font-size: 2em;
   margin-bottom: 10px;
   text-decoration: underline;

}

.arch_menu_link {
   font-size: 1.35em;
   text-decoration: none;
   margin-bottom: 5px;
   display: block;
}

.arch_menu_link:hover {
   text-decoration: none;
   font-size: 1.35em;
   background-color: #c7ddef;
   background-image: none;
   width: 130px;
   margin-left: 12%;
   box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.arch_content {
   position: relative;
   float: left;
   width: 75%;
   left: auto;
}

.arch_content_title {
   text-align: center;

}

.arch_content_article {
   margin-top: 5px;
   margin-bottom: 5px;
}
.arch_content_category_name{
   background-color: #f0f0f0;
   background-image: none;
   text-align: left;
   vertical-align: middle;
   width: auto;
   height: 22px;
   padding-left: 35px;
}
.cat_font{

   color: #00A0E4;
   font-family: Tahoma;
   font-size: 16px;
   line-height: 19px;

}
.article_title {
   margin-top: 5px;
   margin-bottom: 5px;
}

.author {
   position: relative;
   left: auto;
}

.author_name {
   display: inline-block;
   position: relative;
   right: -50%;
   width: 300px;
}

.download_link {
   margin-top: 5px;
   margin-bottom: 15px;
   position: relative;
   left: 60%;
   font-size: 1.125em;
}

.article_menu {
   position: relative;
   left: auto;
   float: left;
   width: 190px;
}

.article_code {
   position: relative;
   float: left;
   left: -20%;
   width: 190px;
}

.article_code li {
   list-style: none;
}

.code {
   margin-right: 5px;
}

.article_link {
   position: relative;
   float: left;
   left: auto;
}

.article_link li {
   list-style: none;
}

.article_container {
   position: relative;
   float: left;
   left: auto;
   top: auto;
   width: 545px;
   margin-left: 35px;

}

.article_title_ru {
   color: #00A0E4;
   font-family: Tahoma, sans-serif;
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 10px;
}

.article_title_en {
   color: #A9A9A9;
   font-family: Tahoma, sans-serif;
   font-size: 15px;
   margin-bottom: 10px;
}

.article_author {
   display: inline-block;
   position: relative;
   left: auto;

}

.article_annotation {
   margin-top: 10px;
   margin-bottom: 10px;
}

.article_keywords {
   margin-bottom: 10px;
}

