#Layer1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px transparent solid;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text2 div
{
   text-align: justify;
}
#Blog1
{
   background-color: transparent;
   border-width: 0;
   line-height: 1.2;
   text-align: left;
}
#Blog1 .blogitem
{
   margin-bottom: 13px;
   margin-bottom: 6px;
   padding: 0px;
}
#Blog1 .blogdate
{
   font-family: Tahoma;
   font-weight: normal;
   font-size: 13px;
   color: #00A0E4;
}
#Blog1 .blogsubject, #Blog1 .blogsubject a:link, #Blog1 .blogsubject a:visited, #Blog1 .blogsubject a:hover
{
   font-family: Tahoma;
   font-weight: bold;
   font-size: 15px;
   color: #00A0E4;
   text-decoration: none;
}
#Blog1 .blogcomments, #Blog1 .blogcomments a:link, #Blog1 .blogcomments a:visited, #Blog1 .blogcomments a:hover
{
   font-family: Tahoma;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   text-decoration: underline;
}
#Blog1 .blogcomments
{
   text-decoration: none;
}
#Blog1 .no-thumb
{
   display: none;
}
#Blog1 .blogtable
{
   display: table;
}
#Blog1 .blogrow
{
   display: table-row;
}
#Blog1 .blogsubject
{
   margin: 0;
   padding: 0;
   display: block;
}
#Blog1 .blogthumb
{
   display: table-cell;
   width: 25%;
   background-size: cover;
}
#Blog1 .blogthumb img
{
   border-width: 0;
   display: block;
   width: 100%;
   height: auto;
   visibility: hidden;
}
#Blog1 .blogtext
{
   display:table-cell;
   padding: 10px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#Blog1 .blogdate
{
   vertical-align: middle;
}#Blog1 .pager
{
   margin: 1px 0px 1px 0px;
}
#Blog1 .page-number
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #00A0E4;
   text-decoration: none;
   padding: 1px 2px 0px 2px;
   cursor: pointer;
   border: 1px #FFFFFF solid;
   margin-right: 2px;
}
#Blog1 .active 
{
   background-color: #FFFFFF;
}
#Image2
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image5
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image6
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image7
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image8
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image9
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image10
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image11
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image12
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image14
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image15
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_CssMenu3
{
   border: 0px #00A0E4 solid;
   background-color: transparent;
}
#wb_CssMenu3 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 254px;
}
#wb_CssMenu3 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 10px 0px;
   width: 254px;
}
#wb_CssMenu3 a
{
   display: block;
   color: #00A0E4;
   border: 1px #00A0E4 solid;
   background-color: #FFFFFF;
   background-image: none;
   font-family: Tahoma;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 242px;
   height: 28px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 28px;
   text-align: center;
}
#wb_CssMenu3 li:hover a, #wb_CssMenu3 a:hover
{
   color: #FFFFFF;
   background-color: #00A0E4;
   background-image: none;
   border: 1px #00A0E4 solid;
}
#wb_CssMenu3 .firstmain a
{
   margin-top: 0px;
}
#wb_CssMenu3 li.lastmain
{
   padding-bottom: 0px;
}
#wb_CssMenu3 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_uid19
{
   background-image: url($FILENAME$);
}
#wb_Image10
{
   position: absolute;
   left: 59px;
   top: 523px;
   width: 100px;
   height: 51px;
   z-index: 5;
}
#wb_uid1
{
   color: #00A0E4;
   font-family: Verdana;
   font-size: 20px;
}
#wb_Image11
{
   position: absolute;
   left: 186px;
   top: 635px;
   width: 100px;
   height: 51px;
   z-index: 7;
}
#wb_uid2
{
   color: #000000;
   font-family: Verdana;
   font-size: 15px;
}
#wb_uid3
{
   background-image: url($FILENAME$);
}
#wb_Image12
{
   position: absolute;
   left: 59px;
   top: 579px;
   width: 100px;
   height: 51px;
   z-index: 8;
}
#wb_Text2
{
   position: absolute;
   left: 334px;
   top: 33px;
   width: 608px;
   height: 347px;
   text-align: justify;
   z-index: 0;
}
#wb_uid4
{
   color: #000000;
   font-family: Tahoma;
   font-size: 13px;
}
#wb_Image2
{
   position: absolute;
   left: 46px;
   top: 33px;
   width: 253px;
   height: 359px;
   z-index: 13;
}
#wb_Text4
{
   position: absolute;
   left: 334px;
   top: 402px;
   width: 433px;
   height: 23px;
   z-index: 12;
   text-align: left;
}
#wb_uid5
{
   background-image: url($FILENAME$);
}

#wb_Image14
{
   position: absolute;
   left: 59px;
   top: 748px;
   width: 100px;
   height: 51px;
   z-index: 2;
}
#Layer1
{
   position: absolute;
   text-align: center;
   left: 0px;
   top: 210px;
   width: 992px;
   height: 1106px;
   z-index: 16;
}
#wb_uid6
{
   color: #000000;
   font-family: tahoma;
   font-size: 13px;
}

#wb_Image15
{
   position: absolute;
   left: 186px;
   top: 691px;
   width: 100px;
   height: 51px;
   z-index: 1;
}
#wb_uid7
{
   background-image: url($FILENAME$);
}
#Layer1_Container
{
   width: 992px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_uid20
{
   color: #000000;
   font-family: Tahoma;
   font-size: 13px;
}
#wb_uid8
{
   color: #000000;
   font-family: Tahoma;
   font-size: 13px;
}
#wb_Image5
{
   position: absolute;
   left: 186px;
   top: 523px;
   width: 100px;
   height: 51px;
   z-index: 6;
}
#wb_uid21
{
   background-image: url($FILENAME$);
}
#wb_uid10
{
   color: #000000;
   font-family: tahoma;
   font-size: 13px;
}
#wb_uid9
{
   background-image: url($FILENAME$);
}
#wb_Image6
{
   position: absolute;
   left: 186px;
   top: 748px;
   width: 100px;
   height: 51px;
   z-index: 10;
}
#wb_uid22
{
   color: #000000;
   font-family: Tahoma;
   font-size: 13px;
}
#wb_uid11
{
   background-image: url($FILENAME$);
}
#wb_Image7
{
   position: absolute;
   left: 59px;
   top: 635px;
   width: 100px;
   height: 51px;
   z-index: 4;
}
#wb_uid23
{
   color: #00A0E4;
   font-family: Tahoma;
   font-size: 19px;
}
#wb_uid12
{
   color: #000000;
   font-family: Tahoma;
   font-size: 13px;
}
#wb_Image8
{
   position: absolute;
   left: 59px;
   top: 691px;
   width: 100px;
   height: 51px;
   z-index: 9;
}
#wb_uid24
{
   color: #808080;
   font-family: Tahoma;
   font-size: 11px;
}
#wb_uid13
{
   background-image: url($FILENAME$);
}
#wb_Image9
{
   position: absolute;
   left: 186px;
   top: 579px;
   width: 100px;
   height: 51px;
   z-index: 3;
}
#wb_uid14
{
   color: #000000;
   font-family: tahoma;
   font-size: 13px;
}
#wb_uid15
{
   background-image: url($FILENAME$);
}
#wb_CssMenu3
{
   position: absolute;
   left: 45px;
   top: 402px;
   width: 254px;
   height: 120px;
   z-index: 14;
}
#wb_uid16
{
   color: #000000;
   font-family: tahoma;
   font-size: 13px;
}
#wb_uid17
{
   background-image: url($FILENAME$);
}
#Blog1
{
   overflow: hidden;
   position: absolute;
   left: 334px;
   top: 442px;
   width: 608px;
   height: 612px;
   z-index: 11;
}
#wb_uid18
{
   color: #000000;
   font-family: Tahoma;
   font-size: 13px;
}
#wb_uid0
{
   color: #00A0E4;
   font-family: Verdana;
   font-size: 19px;
}